<script src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js"></script>
<script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>
<div class="formations">
  
  <% @formations.each do |team_name, formations| %>
    <div class="row" id="<%= team_name %>">
      <% formations.each do |formation| %>
        <div class="col-md-4">
          <h4>
            <%= "#{team_name}, #{formation.name}, From #{formation.start_min} to #{formation.end_min}" %>
            <a class="download" id="download-<%= "#{team_name}-#{formation.formation_index}" %>">Download</a>
          </h4>
          <svg id="<%= "#{team_name}-#{formation.formation_index}" %>" width="344px" height="458px" viewBox="-10 0 364 458" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch -->
            <title>Pitch</title>
            <desc>Created with Sketch.</desc>
            <defs>
              <rect id="path-1" x="5" y="5" width="448" height="334"></rect>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop-HD" transform="translate(-838.000000, -438.000000)">
                <g id="Pitch" transform="translate(1010.000000, 667.000000) rotate(90.000000) translate(-1010.000000, -667.000000) translate(781.000000, 495.000000)">
                  <g id="Bg">
                    <use fill="#93B963" fill-rule="evenodd" xlink:href="#path-1"></use>
                    <rect stroke="#FFFFFF" stroke-width="2" x="6" y="6" width="446" height="332"></rect>
                  </g>
                  <circle id="left-top-corner" stroke="#FFFFFF" stroke-width="2" cx="6" cy="6" r="5"></circle>
                  <circle id="left-bottom-corner" stroke="#FFFFFF" stroke-width="2" cx="6" cy="338" r="5"></circle>
                  <circle id="right-bottom-corner" stroke="#FFFFFF" stroke-width="2" cx="452" cy="338" r="5"></circle>
                  <circle id="right-top-corner" stroke="#FFFFFF" stroke-width="2" cx="452" cy="6" r="5"></circle>
                  <rect id="right-in-box" stroke="#FFFFFF" stroke-width="2" x="424" y="127" width="28" height="90"></rect>
                  <rect id="right-box" stroke="#FFFFFF" stroke-width="2" x="374" y="75" width="78" height="194"></rect>
                  <rect id="left-box" stroke="#FFFFFF" stroke-width="2" x="6" y="75" width="78" height="194"></rect>
                  <rect id="left-in-box" stroke="#FFFFFF" stroke-width="2" x="6" y="127" width="28" height="90"></rect>
                  <path d="M84,136 C84,136 106,139 106,172 C106,205 84,208 84,208" id="left-top-circle" stroke="#FFFFFF" stroke-width="2"></path>
                  <path d="M352,136 C352,136 374,139 374,172 C374,205 352,208 352,208" id="right-top-circle" stroke="#FFFFFF" stroke-width="2" transform="translate(363.000000, 172.000000) scale(-1, 1) translate(-363.000000, -172.000000) "></path>
                  <circle id="Oval-2" stroke="#FFFFFF" stroke-width="2" cx="229" cy="172" r="49"></circle>
                  <path d="M229,5 L229,339" id="Path-2" stroke="#FFFFFF" stroke-width="2"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
      <% end %>
    </div>
  <% end %>
</div>