<div class="formations">
  
  <% @formations.each do |team_name, formations| %>
    <div class="row" id="<%= team_name %>">
      <% formations.each do |formation| %>
        <div class="col-md-4">
          <h4><%= "#{team_name}, #{formation.name}, From #{formation.start_min} to #{formation.end_min}" %></h4>
          <svg id="<%= "#{team_name}-#{formation.formation_index}" %>">
          </svg>
        </div>
      <% end %>
    </div>
  <% end %>
</div>