.table > thead:first-child > tr:first-child > th:first-child {
    position: absolute;
    display: inline-block;
    width: 340px;
    height: 100px;
}

th {
    min-width: 100px;
}

.table > tbody > tr > td:first-child {
    position: absolute;
    display: inline-block;
    width: 340px;
}

.table > thead:first-child > tr:first-child > th:nth-child(2) {
    padding-left: 380px;
}

.table > tbody > tr > td:nth-child(2) {
    padding-left: 380px !important;
}
